$border: 1px solid rgb(238, 238, 238);
$borderRadius: 4px;

@mixin inputFocus {
   &:focus,
   &:valid {
      + span {
         left: 12px;
         top: 5px;
         font-size: 12px;
      }
   }
}

.review-container {
   form {
      background-color: #f8f8f8;
      padding: 20px;
      border-radius: 8px;
   }

   h2 {
      margin-bottom: 20px;
   }

   .input-fields {
      display: flex;
      flex-direction: column;
   }

   label {
      position: relative;
      margin-bottom: 15px;
      span {
         position: absolute;
         left: 20px;
         top: 25px;
         transition: all 0.2s ease-in-out;
         color: rgb(159, 159, 159);
      }
   }

   input,
   textarea {
      padding: 20px;
      border: $border;
      border-radius: $borderRadius;
      font-size: 20px;
      width: 100%;
      outline-color: black;
      @include inputFocus;
   }

   textarea {
      resize: none;
   }

   button {
      background-color: black;
      border: none;
      color: white;
      padding: 20px;
      border-radius: 4px;
      font-size: 18px;
      cursor: pointer;
      &[disabled] {
         background-color: grey;
      }
   }
}
