@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Poppins;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-box-shadow: 0 0 0 100px white inset !important;
   box-shadow: 0 0 0 100px white inset !important;
}

.container {
   max-width: 1400px;
   width: 100%;
   padding: 0 20px;
   margin: auto;
}

.flex-reverse {
   display: flex;
   flex-direction: row;
   @media (max-width: 1200px) {
      flex-direction: column;
   }
}
